*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #ffff;
  padding-bottom: 10px;
  font-family:verdana, sans-serif;
}

.container{
  width: 90%;
  background-color: #f6f6ef;
}

nav {
  width: 100%;
  background-color: #ff6600;
  color: white;
  padding: 2px 6px 2px 2px;
  color:black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 18px;
  height: 18px;
  border: 1px solid white;
}

.site-title{
  font-weight: 600;
  font-size: 10pt;
}

.nav-links ,.login{
  font-size: 12px;
  cursor: pointer;
}

.login:hover{
  text-decoration: underline;
}

.nav-links{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  padding: 0;
}

.nav-links li{
  list-style: none;
}

.nav-links li:hover{
  text-decoration: underline;
}



.nav-left{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-links-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 5px;
  margin-right: 5px;
  gap: 5px;
}

.news-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  border-bottom: 3px solid #ff6600;
}

.news-list{
  list-style: none;      /* removes default bullets/numbers */
  counter-reset: my-counter;
  padding-left: 0;
}

.news-list li{
  counter-increment: my-counter;
  position: relative;
  padding-left: 30px;
  margin-bottom: 8px;
}

.news-list li::before {
  content: counter(my-counter) ". ";
  position: absolute;
  left: 8px;
  color: #828282;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11pt;
}

.news-item{
  display: flex;
  position: absolute;
  top:20px;
  gap: 5px;
  font-size: 11pt;
}

.upvote{
  width: 13px;
  height: 13px;
  position: relative;
  top: 3px;
}

.news-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: auto;
}
.news-title span{
  color: #828282;
  font-size: 8pt;
}

.news-details{
  font-size: 9pt;
  color: #828282;
}

.news-title span, .news-details span{
  cursor: pointer;
}

.news-title span:hover, .news-details span:hover{
  text-decoration: underline;
}

.load-more{
  color: #000;
  font-size: 10pt;
  cursor: pointer;
  margin-left: 50px;
  text-transform: capitalize;
}
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-bottom: 15px;
  flex-wrap: wrap;
}
.footer-links{
  font-size: 8pt;
  color: #000;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 10px;
  gap: 5px;
}

.footer-links span{
  cursor: pointer;
}

.footer-links span:hover{
  text-decoration: underline;
}
.footer-search{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 9pt;
  color: #828282;
}
.footer-search input{
  width: 65%;
  font-size: 10pt;
}